header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    background-color: $bgHeader;
    font-family: $font-secundaria;
    
    .logo {
        text-align: center;
        
        a {
            img {
                height: 300px;
                width: 300px;
            }
        }
    }
    
    .menu {
        ul{
            .logoMenu{
                display: none;
            }
        }
    }
}