.mainGaleria{
    @include flexBase(column);
    @include FlexAlineacion;
    color: $colorLetraPrincipal;
    h1{
        width: 80%;
    }
    .galeria{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        }
}