.mainGaleria{
    @include flexBase(column);
    @include FlexAlineacion;
    h1{
        width: 80%;
    }
    .galeria{
        article{
            padding: 1rem;
            img{
                width: 80%;
            }
        }
    }
}