.mainInicio {
    background-image: url("../multimedia/fondo.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $colorLetraPrincipal;

    /* seccion principal de inicio */
    .principal {
        text-align: center;
        background-image: url("../multimedia/bienvenida.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            font-family: $font-principal;
            font-size: 2rem;
            @include sombraLetras ($colorBienvenida);
            color: black;

            img {
                height: 50px;
                width: 20px;
            }
        }

        h2 {
            font-family: $font-secundaria;
            font-size: 1rem;
            @include sombraLetrasFinas ($colorBienvenidaFina);
            color: black;
        }

        .sectionEstrellas {
            .estrellas {
                height: 20px;
                width: 20px;
            }
        }
    }

    /* seccion de reserva */
    .reserva {
        display: flex;
        flex-direction: column;
        background-color: $bgReserva;
        justify-content: center;
        align-content: center;
        height: 350px;
        padding: 3rem;

        div {
            h3 {
                font-size: 1.2rem;
                font-weight: bolder;

                img {
                    height: 25px;
                }
            }

            p {
                text-align: justify;
            }
        }

        .seccionBoton {
            display: flex;
            justify-content: center;
            align-content: center;

            .botonReserva {
                margin: 1rem;
                width: 120px;
                height: 60px;
                background-color: $bgPrincipal;

                a {
                    text-decoration: none;
                    color: $colorLetraPrincipal;
                }
            }
        }
    }

    /* galeria de inicio */
    .galeria {
        background-image: url("../multimedia/fondoGaleria.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: $colorLetraPrincipal;
        font-family: $font-principal;
        text-align: center;
        padding: 3rem;
    }
}