/* fondos */ 
$bgPrincipal: black;
$bgHeader: rgba(0, 0, 0, 0.421);
$bgReserva: #b28405;
$bgGaleriaInicio: white;


/*color letra */
$colorLetraPrincipal: white;
$colorLetra: black;
$colorBienvenida: white;
$colorBienvenidaFina: white;

/* tipo de letra */ 
$font-principal: 'Rye', cursiva;
$font-secundaria: 'Cinzel Decorative', cursive;